configuration {
    font: 							"Roboto Mono 13";
    fixed-num-lines: 				true;
    show-icons: 					false;
    lines:                          6;
    width:                          30;
    padding:                        20;
}

@import "/usr/share/rofi/themes/gruvbox-dark.rasi"
